:root {
  --var--bg-color: #6666ff;
  --text-color: #e6e6e6;
  --hover-text: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

.login {
  margin-top: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

.form-control {
  margin: 20px;
}

table {
  border: 1px solid black;
  table-layout: fixed;
}

.container-fluid {
  padding: 0;
}

.bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  padding: 0;
}

.navigation {
  height: 3.5rem;
  background-color: var(--var--bg-color);
  display: flex;
  align-items: center;
  padding: 1rem;
}

li {
  list-style-type: none;
}
.link:hover {
  color: var(--hover-text);
}
.link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
}

.info {
  display: inline;
  border-radius: 5px;
}

.main {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mov {
  margin-top: 1rem;
}

.hold {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1rem;
}

.nav-item {
  margin-right: 1rem;
  text-align: center;
  align-self: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar-brand {
  color: var(--hover-text);
  font-weight: 500;
  font-size: 2rem;
}

.badge {
  background-color: #8080ff;
  font-size: 1.5rem;
  color: #ffffff;
}

.logging,
.registering,
.editForm {
  margin: 2rem;
}

.row {
  width: wrap-content;
  margin: 0;
}

.loadContainer {
  display: flex;
  justify-content: center;
  height: 30rem;
}

.loading {
  align-self: center;
}

/* Loading  */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-genres {
    text-align: center;
}